:root{
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:url("./images/bg.jpeg") no-repeat center/cover fixed;
    color: #eee;
    width: 99vw;
    height: 95vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
}

section
{
    background-color: #cccccc33;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    min-height: 95vh;
    margin: 2vh auto ;
    padding: 1%;
    border-radius: 2rem;
}

#outputContainer
{
    color: #ccc;
    width: 100%;
    height: 45vh;
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
    border-radius: 2rem;
}

.changer
{
    display: flex;
    align-items: center;
    width: 30%;
    height: 45vh;
    margin: 1rem 0;
}

.changerBG{
    background-color: #1d1d1d77;
    border-radius: 2rem;
}

#loginPanel{
    border: solid;
}

img{
    width:100%;
    height: 70%;
    border: double 2px;
    border-radius: 2rem;
}

.bmiScaleContainer{
    background-color: #ccc;
    width: 80%;
    height: 4.5rem;
    margin-top: 0;
    margin-left: 2rem;
    border-radius: 5rem;
    overflow: hidden;
}

#bmiScale{
    background-color: green;  /*pushed by JS*/
    width: 50.00%;              /*pushed by JS*/
    max-width: 100%;
    height: 100%;
    padding: 1rem;
    text-align: center;
}

#bmi
{
    display: none;
    flex-wrap: wrap;
    justify-content: space-around; 
}

#bmiOutput
{
    color: #eee;
    max-height: 4.5rem;
    font-size: 2rem;
    padding: 1rem;
    
}

#loginPanel
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

h2{
    width: 100%;
    font-size: 1.6rem;
    text-align: center;
    margin-top: 0.5rem;
}
p{
    text-align: center;
    font-size: clamp(1rem, 1.3rem, 1.6rem);
    padding: 0 0.5rem;
}

input
{
    width: 90%;
    height: 2.5rem;
    padding: 0 1rem;
    border-radius: 1rem;
}

input:focus{
    outline: none;
    border-color:red;
}

button
{
    height: 2.5rem;
    width: clamp(5rem, 35%, 15rem);
    font-size: 1rem;
    font-weight: 600;
    padding: 0.1rem 1rem;
    border-radius: 0.7rem;
    margin-bottom: 0.5rem;
}

button:hover{
    background-color: lightcoral;
    color: #eee;
}

@media only screen and (max-width: 900px){
    .secTop{
        flex-direction: row;
        height: auto;
    }
    .changer{
        width: 50%;
    }
}

@media only screen and (max-width: 600px){
    .secTop{
        flex-direction: column;
        height: auto;
    }
    .changer{
        width: 100%;
    }
}